<!DOCTYPE html>
<html ng-app='app1' lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main.css">
  <title>Document</title>
</head>
<body ng-controller='mainCtrl'>

  <h1 class='title'>Dommo Map's</h1>
  <div id="googleMap" class='map'></div>
  <div class='searchstuff'>

    <h2> Search by Zip Code:  <input ng-model='zip' class='in' placeholder="Zip Stuff">
      <button ng-click='newloc(zip)' class='inbtn'>Go</button></input>
        </h2>

    <h2> Search For Food:  <input ng-model='food' class='in' placeholder="Food Stuff">
      <button ng-click='Food(some)' class='inbtn'>Go</button></input>
        </h2>

  </div>



<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB2f09BzLRIDauS6VVvHpyMuzn1ZfVRocc' type="text/javascript"></script>
<script src="https://code.angularjs.org/1.6.3/angular.min.js" charset="utf-8"></script>
<script src="app.js" charset="utf-8"></script>
<script src="mainCtrl.js" charset="utf-8"></script>
</body>
</html>
